.lessons-creation-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid var(--vert-fonce);
    border-radius: var(--card-border-radius);
    padding: 40px;
    background-color: var(--lessons-creation-content-background);
    box-shadow: 0 0 10px var(--lessons-creation-content-shadow);
}

.lessons-creation-content h1 {
    position : relative;
    margin-bottom: 20px;
    font-family: Inter, sans-serif;
    font-size: 2rem;
}

.lessons-creation-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: Inter, sans-serif;
    margin-top: 20px;
    gap: 10px;
}

.lessons-creation-form input text {
    position: relative;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--vert-fonce);
    background-color: var(--signin-input);
}

.lesson-back-btn {
    position: absolute;
    top: 0;
    left: 0;
    scale: 0.7;
}
