html, body, #root {
    height: 100%;
    margin: 0;
}


.raining-waste {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
}

.raining-waste-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Inter, sans-serif;
}

.raining-waste-final-message {
    font-family: Inter, sans-serif;
    width: 100%;
    text-align: center;
}

.raining-waste-container {
    display: flex;
    overflow: hidden;
    border: 5px solid var(--vert-fonce);
    border-radius: 7px;
    position: relative;


    width: 80%;
    height: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background-color: var(--game-background);

}

.game-content-raining {
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;
}

.waiting-waste {
    display: none;
}

.falling-waste {
    display: block;
}
