.bin-container {
    display: flex;
}

.type-container {
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.binImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.binImg img {
    width: 100px;
    height:auto;
}