.bin-container {
    display: flex;
}

.type-container {
    text-align: center;
    width: 100%;
}

.binImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.binImg img {
    width: 100px;
    height:auto;
}