.drag-and-drop-game-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drag-and-drop-game-final-message {
    width: 100%;
    text-align: center;
}