.lessons-list-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.lessons-list-container h1 {
    font-family: Inter, sans-serif;
    font-size: 2.5rem;
    height: 5%;
}

.lessons-list-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1300px;
    height: calc(100vh - 200px);
    overflow-y: auto;
    gap: 20px;
}

@media screen and (max-width: 1325px) {
    .lessons-list-content {
        width: 900px;
    }
}

@media screen and (max-width: 950px) {
    .lessons-list-content {
        width: 600px;
    }
}

.lesson-home-btn {
    position: absolute;
    top: 0;
    left: 0;
    scale: 0.7;
}

.lesson-creation-btn {
    position: absolute;
    top: 0;
    right: 0;
    scale: 0.7;
}
