.drag-and-drop-game-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Inter, sans-serif;
}

.drag-and-drop-game-final-message {
    font-family: Inter, sans-serif;
    width: 100%;
    text-align: center;
}

.bin-waste-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.waste-item-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button-home {
    position: absolute;
    bottom: 20px;
    right: 20px;
}