.container-answer-waste {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.answer-content {
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 2em;
    margin: 10px 0;
    padding: 20px;
    color: var(--vert-fonce);
}


.answer-img img {
    max-width: 100%;
    max-height: 60vh;
    width: 300px;
    height: auto;
    border-radius: 50px;
}
